@model WSCamera.Models.supportContact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Liên hệ <strong>chúng tôi</strong></h2>
                <div id="gmap" class="contact-map">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">Get In Touch</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" action="/Contact/Index" method="post">
                        @if (ViewBag.error != null)
                        {
                            <div class="row"><p class="alert alert-danger">@ViewBag.error</p></div>
                        }
                        @if (ViewBag.success != null)
                        {
                            <div class="row"><p class="alert alert-success">@ViewBag.success</p></div>
                        }
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(x => x.username, new { @class = "form-control form-control-lg", @type = "text", @required = string.Empty,@placeholder="Name" })
                        </div>
                        <div class="form-group col-md-6">
                        @Html.TextBoxFor(x => x.email, new { @class = "form-control form-control-lg", @type = "email", @required = string.Empty, @placeholder = "Email" })                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(x => x.phone, new { @class = "form-control form-control-lg", @type = "tel", @required = string.Empty, @id = "tel", @placeholder = "Phone" })                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextAreaFor(x => x.content, new { @class = "form-control form-control-lg", @type = "text", @required = string.Empty, @row = "10", @cols = "30", @placeholder = "Message" })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Contact Info</h2>
                    <address>
                        <p>E-Shopper Inc.</p>
                        <p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
                        <p>Newyork USA</p>
                        <p>Mobile: +034 951 583 0</p>
                        <p>Email: vanquangphu47@gmail.com</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

