
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<WSCamera.Models.productDs>
@using PagedList.Mvc;

<section id="advertisement">
    <div class="container">
        <img src="images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                      
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Shoes</a></h4>
                            </div>
                        </div>
                    </div><!--/category-productsr-->

                 


                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                   
                    @foreach (var item in Model) {
     


                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/@item.product.image" alt="" />
                                    <h2>@item.product.list_price đ</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default  add-to-cart-link" data-id="@item.product.product_id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>@item.product.list_price đ</h2>
                                        <p>@item.product.product_name</p>
                                        <a href="#" class="btn btn-default  add-to-cart-link" data-id="@item.product.product_id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    }
                  
                </div><!--features_items-->
                @Html.PagedListPager(Model, page => Url.Action("Category", new { page, pageSize = Model.PageSize }))
            </div>
        </div>
    </div>
</section>

